* {
  margin: 0%;
  padding: 0%;
}
body {
  background-repeat: no-repeat;
  background: url(./assets/img/fondo.png) no-repeat center center fixed;
  background-size: 70% auto;
  background-color: #000;
  margin-bottom: 110px;
  background-color: #fff;
  font: 400 12px/1 'RobotoCondensed Bold', 'Trebuchet MS', Helvetica, Arial,
    sans-serif;
}

/*header*/
header {
  background-color: #202020;
  height: 7.2vh;
  border: 1px solid#FEFEFE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.logo-header {
  width: 106px;
  height: 7vh;
  margin-left: calc(50% - 50px);
}
.header-button {
  width: 183px;
  height: 5vh;
  border-radius: 10px;
  margin-right: 10px;
  border-color: #fff;
  color: #fefefe;
  background-color: #ee171f;
  font: 400 15px/1 'RobotoCondensed Bold', 'Trebuchet MS', Helvetica, Arial,
    sans-serif;
  font-weight: bold;
}
.container-funnel {
  height: 5vh;
  width: 200px;
  display: flex;
  color: #fefefe;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  font-size: x-small;
}
.funnel {
  height: 4vh;
}

/*Letters*/
.leter-select {
  display: flex;
  justify-content: space-around;
  background-color: #202020;
  border: 1px solid#fefefe;
  color: #fefefe;
  cursor: pointer;
  cursor: pointer;
  margin-top: 7.2vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.letter-key {
  width: 100%;
  border: 1px solid #fefefe;
  text-align: center;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Filtros*/
.container-filter {
  background-image: url(./assets/img/escudo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  margin-top: 10.2vh;
  height: 200px;
  width: 100%;
  position: fixed;
  opacity: 0.9;
  left: 0;
  top: 0;
  z-index: 2;
  border: 1px solid #fefefe;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Cards*/

.card-container {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  margin: 40px;
  margin-top: 12vh;
}
.img-card {
  margin-top: 2px;
  width: 205px;
  height: 200px;
}
.card {
  width: 210px;
  height: 300px;
  background-color: #202020;
  margin: 10px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  border: 5px solid transparent;

  opacity: 0.87;
  border-image: url(./assets/img/aura2.gif) 30 30 stretch;
}
.name {
  margin-top: 5px;
  font: bold 15px/1 arial;
  text-transform: uppercase;
  color: #c69c1e;
  text-shadow: 0 1px 0 #8b6e15, 0 2px 0 #7c6213, 0 3px 0 #6e5611,
    0 4px 0 #5f4b0e, 0 5px 0 #503f0c, 0 6px 0 #41330a,
    1.5px 4px 7.5px rgba(0, 0, 0, 0.1), 1.5px 4px 2.5px rgba(0, 0, 0, 0.3);
}

.num-comics {
  margin-top: 10px;
  font-size: small;
  color: #3caf1a;
}

.num-series {
  margin-top: 1px;
  font-size: small;
  color: rgb(60, 175, 26);
}
